{% extends "base.html" %}

{% block head %}

<link rel = "stylesheet" href = "../static/css/base.css">

{% endblock %}

{% block body %}

<div class = "booksmenu">
    <div class = "category">
    <a href = "/books/topbooks">TOP BOOKS</a>
    </div>
    <div class = "category">
    <a href = "/books/categories">CATEGORIES</a>
    </div>
    <div class = "category">
    <a href = "/books/popularauthors">POPULAR AUTHORS</a>
    </div>
    <div class = "category">
    <a href = "/books/wordcloud">WORDCLOUD</a>
    </div>
</div>
<div class = "categoriesselection"></div>
<div class = "author">
{{ books[0].author }} <br>
</div>
{% for book in books %}
<div class = "book">
            <a href = "/books/{{ author }}/{{ book.id }}">
            <div class = "imagezoom">
            <img src = "{{ book.image }}"> <br>
            </div>
            </a>
            <div class = "bookinfo">
            <div class = "booktitle">
            {{ book.title }} <br>
            </div>
            {% if book.review_link %}
                <div class = "bookreviewlink">
                    <a href = "{{ book.review_link }}">
                        {{ book.review_link }}
                    </a>
                    <br>
                </div>
            {% endif %}
            {{ book.description }} <br>
            {{ book.list_name }} <br>
            </div>
        </div>
{% endfor %}

{% endblock %}