{% extends 'base.html' %}

{% block body %}

<div class = "book">
        <div class = "imagezoom">
        <img src = "{{ book.book_image }}"> <br>
        </div>
        <div class = "bookinfo">
        {{ book.title }} <br>
        {{ book.author }} <br>
        {% if book.book_review_link %}
            <div class = "bookreviewlink">
                <a href = "{{ book.book_review_link }}">
                    {{ book.book_review_link }}
                </a>
                <br>
            </div>
        {% endif %}
        {{ book.description }} <br>
        </div>
</div>

{% endblock %}