{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class = "booksmenu">
    <div class = "category">
    <a href = "/topbooks">TOP BOOKS</a>
    </div>
    <div class = "category">
    <a href = "/categories">CATEGORIES</a>
    </div>
    <div class = "category">
    <a href = "/popularauthors">POPULAR AUTHORS</a>
    </div>
    <div class = "category">
    <a href = "/books/wordcloud">WORDCLOUD</a>
    </div>
</div>
<div class = "chosencategory">
    WORDCLOUD
</div>

<div class = "imgwordcloud">
<img src = "{{ url_for('static', filename = '/images/wordcloudforbookstitles.png') }}">
</div>

{% endblock %}